{% extends 'master.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block Title %}
    {% translate 'Password Reset' %}
{% endblock %}

{% block Content %}
    <section class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">

                <div class="card" id="account_box">
                    <div class="card-header text-center">
                        {% translate 'Password Reset' %}
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-primary">
                                {% translate 'Password Reset' %}
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}