{% extends 'master.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block Title %}
    {% translate 'Password Reset Complete' %}
{% endblock %}

{% block Content %}
    <section class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-4">

                <div class="card" id="account_box">
                    <div class="card-header text-center">
                        {% translate 'Password Reset Complete' %}
                    </div>
                    <div class="card-body">
                        <p>
                            {% translate 'Your password has been set.' %}
                        </p>
                        <a href="{% url 'login' %}" class="btn btn-primary">
                            {% translate 'Sign In' %}
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}